body{
font-family:Arial;
background:#f2f2f2;
text-align:center;
}

.box{
background:white;
width:350px;
margin:50px auto;
padding:20px;
border-radius:10px;
}

input{
padding:10px;
}

button{
padding:10px;
cursor:pointer;
}

li{
margin:10px;
}
